<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3>Reset password</h3>
      <div>
        <span>Enter new password</span>
        <input type='password' id='password' />
      </div>
      <div>
        <span>Enter new password again</span>
        <input type='password' id='password2' />
      </div>

      <button type='submit' onclick='sendResetPassword()'>Continue</button>
    </div>

    <script>
      function sendResetPassword(){ 
        const urlParams = new URLSearchParams(window.location.search);
      const token =  urlParams.get('token');
      const email = urlParams.get('email'); 
    const password = document.getElementById('password').value;
    const repeatPassword = document.getElementById('password2').value;
    if(!password) return alert('Please fill required fields');
    if(password !== repeatPassword) return alert('Please write same password for both fields');


let data = {
    token,
    email,
    password,
    repeatPassword
}
    fetch('/auth/reset_password', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
})
.then(response => response.json()) // Assuming the response is JSON
.then(data => {
  alert(data.message)
})
.catch(error => {
    alert('Error')
  console.error('Error:', error);
});
      }
    </script>
  </body>
</html>